@import "bootstrap.scss";

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

b p {
	@include media-breakpoint-down(sm) {
		font-size: 0.88rem; // 14 px
	}

	@include media-breakpoint-up(md) {
		font-size: 1rem; // 16 px
	}
}

h1 {
	@include media-breakpoint-down(sm) {
		font-size: 1.8rem; // 28 px
	}

	@include media-breakpoint-up(md) {
		font-size: 2.5rem; // 40 px
	}
}

h2 {
	@include media-breakpoint-down(sm) {
		font-size: 1.3rem; // 28 px
	}

	@include media-breakpoint-up(md) {
		font-size: 2rem; // 40 px
	}
}

$primary: #82c625;

#header {
	background-color: black;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;


	p {
		color: white;
		margin: 0;
		font-weight: bold;

		@include media-breakpoint-down(lg) {
			font-size: 15px;
		}

		@include media-breakpoint-down(md) {
			font-size: 13px;
		}
	}

	.firtsHeader {
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 100%;
		height: 100%;

		@include media-breakpoint-up(lg) {
			padding: 15px;
		}

		@include media-breakpoint-down(md) {
			padding: 12px;
			flex-direction: column;
		}


	}

	.secondHeader {
		width: 100%;

		// padding-left: 20px;
		// padding-right: 20px;
		h3 {
			color: $primary;
			font-size: 18px;
		}

		#social {
			color: white;
			text-transform: uppercase;
			font-weight: bold;
		}

		.icon {
			display: flex;
			justify-content: center;
			align-items: center;
			color: #a96733;
			padding: 20px;
		}

		.socialIcons {
			display: flex;

			span {
				width: 30px;
				height: 30px;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: grey;
				margin-right: 5px;

				i {
					color: white;
				}
			}
		}

	}

	@include media-breakpoint-down(md) {
		height: auto;
	}

	@include media-breakpoint-up(lg) {
		height: auto;
	}

	// > .container , .container-fluid{
	// 	display: flex;
	// 	align-items: center;
	// 	justify-content: space-between;
	// 	height: 100%;
	// 	@include media-breakpoint-down(md) {
	// 		max-width: 100%;
	// 	}
	// }
	.logo {
		display: flex;
		align-items: center;
		height: 100%;

		img {
			height: 100%;
		}
	}

	.main-nav {
		background-color: #c1c1c3;
		display: flex;
		justify-content: center;

		@include media-breakpoint-down(md) {
			display: flex;
			flex-direction: column;
			position: fixed;
			width: 100%;
			height: calc(100% - 50px);
			max-width: 300px;
			background-color: #fff;
			right: 0;
			top: 50px;
			overflow: auto;
			border-left: 1px solid rgba(0, 0, 0, 0.1);
			transform: translate(100%, 0);
			transition: transform 0.3s ease;

			&.open {
				transform: translate(0%, 0);
			}
		}

		@include media-breakpoint-up(lg) {
			z-index: 1050;
			display: flex;
			align-items: center;
		}

		.main-menu {
			padding: 0;
			margin: 0;
			list-style: none;

			@include media-breakpoint-up(lg) {
				display: flex;
				align-items: center;
			}

			>li {
				// background-color: #82c625;
				padding: 18px;

				@include media-breakpoint-down(lg) {
					padding: 15px;
				}

				>a {
					text-decoration: none;
					text-transform: uppercase;
					color: black;
					font-size: 15px;

					@include media-breakpoint-down(lg) {
						font-size: 11px;
					}

					@include media-breakpoint-down(md) {
						padding: 15px;
						display: block;
						line-height: 1;
						border-bottom: 1px solid #ebebeb;
					}
				}

				.login {
					i {
						color: black;
						padding-right: 10px;
					}

					color: white;
				}

				&:active {
					background-color: #82c625;
				}

				&:hover {
					background-color: #82c625;
				}

				&:nth-of-type(8) {
					background-color: #82c625;
				}

				&:nth-of-type(9) {
					background-color: #82c625;
				}
			}

		}
	}
}

#content {
	@include media-breakpoint-down(md) {
		padding-top: 50px;
	}

	@include media-breakpoint-up(lg) {
		padding-top: 300px;
	}

	//filtro
	#findCars {
		//introduction
		.filterContainer{
			background-color: black;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			justify-content: center;
			padding-top: 5px;	
			padding-left: 50px;
			padding-right: 50px;
			//title of filter
			.filterTitle{
				padding-bottom: 10px;
				h1{
					color: white;
					text-transform: uppercase;
					font-size: 30px;
					margin: 0;
					small{
						font-size: 20px;
					}
					span{
						color: $primary;
					}
				}
			}
			//find the options of you filter css
			.filterOptions{
				#nav {
					list-style: none;
					width: 100%;
					padding: 16px 0 0 0;
					display: flex;
					margin: 0;
					li {
						background-color:#535d5b;
						height: 40px;
						display: flex;
						justify-content: center;
						align-items: center;
						width: 100%;
						cursor: pointer;
						margin-right: 8px;
						a {
							display: block;
							color: white;
							font-size: 14px;
							font-weight: 500;
							line-height: 24px;
							text-align: center;
							text-transform: uppercase;
						}
						&.active {
							background-color: white;
							a{
								font-weight: bold;
								color: #535d5b;
							}
						
						}
						&:hover {
							background-color: white;
							a{
								font-weight: bold;
								color: #535d5b;
							}
							
						}
					}
				}
				form {
					margin: 0;
					.form-control{
						-webkit-appearance: none;
    					-moz-appearance: none;
						background-color: white;
						border: 1px solid grey;
						border-radius: 0px !important;
						height: 40px;
						color: grey;
						position: relative;
						cursor: pointer;
					}
					button{
						height: 40px;	
						background-color: white;
						color: grey;
						height: 100%;
						margin-right: 40px;
						display: flex;
						align-items: center;
						position: relative;

					}
				}
			}
		}
		.filterResultNumbers{
			margin-top: 30px;
			margin-bottom: 30px;
			.numberAvaliableCars{
				height: 50px;
				background-color: #5b675b;
				display: flex;
				align-items: center;
				padding-left: 40px;
				clip-path: polygon(3% 0, 100% 0%, 95% 100%, 0 100%);
				p{
					margin: 0;
					font-size: 16px;
					color: white;
					font-weight: bold;
					text-transform: uppercase;
				}
			}
			.pagination{
				margin: 0;
				width: 100%;
				.prev,.next{
					display: flex;
					height: 50px;
					align-items: center;
					background-color: black !important;
					color: white;
					border: none;
					clip-path: polygon(17% 0, 100% 0%, 83% 100%, 0 100%);
					border-radius: 0;
					padding: 20px;
					text-decoration: none;
					margin-right: 5px;
				}
				.page-item{
					.page-link{
						background-color: #82c625;
						height: 50px;
						display: flex;
						justify-content: center;
						// clip-path: polygon(17% 0, 100% 0%, 83% 100%, 0 100%);
						align-items: center;
						padding: 15px;
						border: none;
						color: white;
						margin-right: 5px;
					}
				}
			}
		}
		.filterResults{
			background-color: pink;
			ul{
				padding: 0;
				margin: 0;
				list-style: none;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				li{
					margin-bottom: 30px;
					margin-right: 20px;
					background-color: red;
					width: 20%;
				}
			}
			.tab-content.active {
				display: block;
				animation: fadeEffect 1s;
			}
			@keyframes fadeEffect {
				from {
					opacity: 0;
				}

				to {
					opacity: 1;
				}
			}
		}
	}

}

footer#footer {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #f5f5f5;
}