@import "bootstrap.scss";

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

$primary: #82c625;

body {
	overflow-x: hidden;
}

// p {
// 	@include media-breakpoint-down(sm) {
// 		font-size: 0.88rem; // 14 px
// 	}

// 	@include media-breakpoint-up(md) {
// 		font-size: 1rem; // 16 px
// 	}
// }

// h1 {
// 	@include media-breakpoint-down(sm) {
// 		font-size: 1.8rem; // 28 px
// 	}

// 	@include media-breakpoint-up(md) {
// 		font-size: 2.5rem; // 40 px
// 	}
// }

h2 {
	@include media-breakpoint-down(sm) {
		font-size: 1.3rem; // 28 px
	}

	@include media-breakpoint-up(md) {
		font-size: 2rem; // 40 px
	}
}

p {
	font-size: 14px;
	color: #535d5b;
}

.color-primay {
	color: $primary;
}

.form-group {
	label {
		text-transform: uppercase;
		color: white;
		font-weight: bold;
		font-size: 16px;

		@include media-breakpoint-down(lg) {
			font-size: 14px;
		}
	}
}

a {
	text-decoration: none !important;
	cursor: pointer;

	&:focus{
		box-shadow: transparent !important;
		outline: none !important;
	}
}

.btn {

	background-color: $primary;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
	border-radius: 0;

}

.img-one {
	position: relative;

	img {
		position: absolute;
		top: -140px;

		@include media-breakpoint-down(md) {
			position: static;
		}
	}
}

.social-media-icons {
	display: flex;

	a {
		text-decoration: none;
		cursor: pointer;
		display: block;
		width: 25px;
		height: 25px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 5px !important;
		background-color: $primary;
		transition-duration: 0.3s;

		i {
			font-size: 13px;
			color: white;
		}

		&:hover {
			background-color: white;
			
			i {
				color: $primary;
			}
		}
	}
}

header {
	background-color: black;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;

	.top-header {

		h3 {
			color: $primary;
			font-size: 15px;
			font-weight: bold;
			margin: 0;

			@include media-breakpoint-down(lg) {
				font-size: 12px
			}
		}

		p, 
		a {
			font-size: 14px;
			line-height: 18px;
			color: white;
			margin: 0;

			@include media-breakpoint-down(lg) {
				font-size: 12px;
			}
		}

		a {
			transition-duration: 0.3s;

			&:hover {
				color: $primary;
			}
		}

		form {
			.form-control {
				height: 20px;
				padding: 0px;
				background-color: black;
				color: white;
				border: 0px;

				@include media-breakpoint-down(lg) {
					font-size: 12px;
				}
			}
		}

		.row:nth-child(1) {
			position: relative;
			border-bottom: 1px solid #535d5b;;
		}

		img {
			height: 75px;
		}

		.circle-icon {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 25px;
			height: 25px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			border: 1px solid #a96733;

			.fas {
				font-size: 13px;
				color: #a96733;

				@include media-breakpoint-down(md) {
					font-size: 25px;
				}
			}

			.fa-phone {
				transform: rotate(180deg)
			}
		}
		@include media-breakpoint-down(md) {
			display: none;
		}

	}

	.menu-for-tablet-and-down {
		height: 100%;
		display: flex;
		align-items: center;

		.logo-md {
			width: 130px;

			@include media-breakpoint-down(sm) {
				display: none;
			}
		}

		.logo-sm {
			margin-left: 15px;
			width: 90px;

			@include media-breakpoint-up(md) {
				display: none;
			}
		}

		.open-header {
			border: none;
			border-radius: none;
			width: 170px;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0;
			background-color: $primary;

			i {
				color: white;
				font-size: 20px;
			}
		}
	}

	@include media-breakpoint-down(md) {
		height: 70px;
		position: fixed;
	}

	@include media-breakpoint-up(lg) {
		height: auto;
	}

	.main-nav {
		display: flex;
		justify-content: center;
		background: rgba(234, 237, 240, .8);
		box-shadow: 0 0 4px rgba(0, 0, 0, .4);

		@include media-breakpoint-down(md) {
			justify-content: flex-start;
			display: flex;
			flex-direction: column;
			position: fixed;
			right: 0;
			width: 80%;
			height: calc(100% - 50px);
			max-width: 300px;
			background-color: black;
			right: 0;
			top: 70px;
			overflow: auto;
			border-left: 1px solid rgba(0, 0, 0, 0.1);
			transform: translate(100%, 0);
			transition: transform 0.3s ease;
			z-index: 999;

			.container {
				padding: 0px;
			}

			&.open {
				transform: translate(0%, 0);
			}

			@include media-breakpoint-down(sm) {
				width: 100%;
			}
		}

		@include media-breakpoint-up(lg) {
			z-index: 1050;
			display: flex;
			align-items: center;
		}

		.main-menu {
			padding: 0;
			margin: 0;
			list-style: none;
			height: 50px;
			position: relative;

			@include media-breakpoint-up(lg) {
				display: flex;
				align-items: center;
			}

			> li {
				padding: 13px;
				z-index: 2;
				position: relative;
				transition-duration: 0.3s;

				@include media-breakpoint-down(lg) {
					padding: 10px;
				}

				> a {
					text-decoration: none;
					text-transform: uppercase;
					font-weight: 700;
					font-style: normal;
					color: #232628;
					font-size: 13px;

					@include media-breakpoint-down(lg) {
						font-size: 11px;
					}

					@include media-breakpoint-down(md) {
						padding: 8px;
						display: block;
						line-height: 1;
						color: white;
					}

				}

				.log-in {
					color: white;
					font-weight: bold;
					text-transform: inherit;
					position: relative;
					font-size: 13px;
					font-weight: 700;
					font-style: normal;

					i {
						color: black;
						padding-right: 10px;
					}
				}

				&:hover,
				&.active {
					background-color: #82c625;

					a {
						color: white;
					}

					>.sub-nav {
						display: block;
						transition-duration: 0.2s;
					}
				}

				&:nth-of-type(8) {
					background-color: #82c625;

					@include media-breakpoint-down(md) {
						border-bottom: 1px solid #ebebeb;
					}
				}

				&:nth-of-type(9) {
					background-color: #82c625;
				}

				.sub-nav {
					display: none;
					position: absolute;
					background-color: $primary;
					width: 255px;
					height: auto;
					top: 50px;
					left: 0;

					@include media-breakpoint-down(lg) {
						top: 47px;
					}

					@include media-breakpoint-down(md) {
						position: static;
						width: 100%;
					}

					ul {
						padding: 0;
						margin: 0;
						list-style: none;

						li {
							padding: 16px;
							font-weight: bold;
							border-bottom: 1px solid black;
							color: white;
							transition-duration: 0.3s;

							&:hover {
								background: #000000;
							}

							@include media-breakpoint-down(md) {
								font-size: 11px;
							}
						}

						li:last-child {
							border-bottom: 0px;
						}
					}
				}
			}

			&::after {
				position: absolute;
				content: "";
				z-index: 1;
				width: 33%;
				background-color: #82c625;
				height: 100%;
				// right: 0;
				right: -160px;
				@include media-breakpoint-down(lg) {
					width:43%;
					right: -125px;
				}

				@include media-breakpoint-down(md) {
					display: none;
				}
			}
		}
	}
}

#content {
	@include media-breakpoint-down(md) {
		padding-top: 100px;
	}

	@include media-breakpoint-down(md) {
		padding-top: 70px;
	}

	.welcome-page-introduction {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center -430px;
		min-height: 160px;

		@include media-breakpoint-down(md) {
			background-position: center -185px;
			// margin-top: 70px;
		}

		@include media-breakpoint-down(sm) {
			background-position: center -19px;
		}

		.caption {
			display: flex;
			justify-content: center;
			flex-direction: column;
			min-height: 160px;
			background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
			width: 100%;

			h1 {
				font-size: 30px;
				font-weight: bold;
				color: white;
				text-transform: uppercase;

				@include media-breakpoint-down(md) {
					font-size: 20px;
					text-align: center;
				}

				@include media-breakpoint-down(sm) {
					font-size: 18px;
					text-align: center;
				}
			}

			p {
				font-size: 16px;
				color: white;
				font-weight: bold;

				@include media-breakpoint-down(sm) {
					font-size: 14px;
					text-align: center;
				}
			}
			span {
				color: $primary;
			}

			.filter-title {
				display: block;
				position: relative;

				h1 {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 290px;
					height: 50px;
					background-color: #000000;
				}

				@include media-breakpoint-down(md) {
					margin-top: 30px;
				}

				@include media-breakpoint-down(sm) {
					margin: 20px auto;
				}

				&::after {
					content: "";
					position: absolute;
					left: 0;
					bottom: 0;
					background-color: #82c625;
					width: 100%;
					height: 8px;
				}
			}
		}
	}

	//HOME
	.slide-content {
		position: relative;
		width: 100%;

		.homeslide {
			width: 100%;

			.slide {
				width: 100%;
				background-repeat: no-repeat;
				background-size: 100% 100%;
				background-position: center;
				position: relative;

				@include media-breakpoint-up(xl) {
					height: 550px;
				}

				@include media-breakpoint-down(lg) {
					height: 430px;
				}

				@include media-breakpoint-down(md) {
					height: 340px;
				}

				@include media-breakpoint-down(sm) {
					height: 193px;
    				background-position: center;
				}
			}
		}
	}
 
	.filter-controls {
		background-color: black;
		padding-top: 5px;

		//title of filter
		.filter-title {
			padding-bottom: 5px;

			h1 {
				color: white;
				text-transform: uppercase;
				font-size: 30px;
				margin: 0;
				font-weight: bold;

				small {
					font-weight: bold;

					@include media-breakpoint-down(md) {
						font-size: 20px;
					}

					@include media-breakpoint-down(sm) {
						font-size: 28px;
						text-align: center;
					}
				}

				@include media-breakpoint-down(md) {
					font-size: 20px;
				}

				@include media-breakpoint-down(sm) {
					font-size: 28px;
					text-align: center;
				}

				br {
					@include media-breakpoint-down(sm) {
						display: none;
					}
				}
			}

			@include media-breakpoint-down(sm) {
				flex-direction: column;
			}

			.logo {
				@include media-breakpoint-down(sm) {
					margin-top: 30px;
				}

				img {
					width: 200px;
					object-fit: contain;
				}
			}
		}
	}

	//find the options of you filter css
	.filter-control-options {
		@include media-breakpoint-down(md) {
			padding: 10px 0px;
		}

		.stocklist {
			list-style: none;
			padding: 16px 0 0 0;
			display: flex;
			margin: 0;

			li {
				background-color: #535d5b;
				height: 40px;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				cursor: pointer;
				margin-right: 8px;

				a {
					display: block;
					color: white;
					font-size: 14px;
					font-weight: 500;
					line-height: 24px;
					text-align: center;
					text-transform: uppercase;
				}

				&:hover {
					background-color: white;

					a {
						font-weight: bold;
						color: #535d5b;
					}
				}

				@include media-breakpoint-down(sm) {
					margin-bottom: 10px;
				}
			}

			@include media-breakpoint-down(sm) {
				flex-direction: column;
			}
		}

		form {
			margin: 0;

			.form-control {
				background-color: white;
				border: 1px solid grey;
				border-radius: 0px !important;
				height: 40px;
				color: grey;
				position: relative;
				cursor: pointer;

				&:focus {
					outline: transparent !important;
				}

				@include media-breakpoint-down(md) {
					margin-top: 10px;
				}

				@include media-breakpoint-down(sm) {
					margin-bottom: 10px;
				}
			}

			button {
				width: 120px;
				height: 40px;
				background-color: black;
				color: grey;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				color: white;
				font-weight: bold;
				text-align: center;
				border: none;
				transition-duration: 0.3s;

				&:hover {
					background-color: $primary;
				}
			}
		}
	}

	.filter-result-information {
		margin-top: 30px;
		margin-bottom: 30px;

		.row {
			@include media-breakpoint-down(md){	
				.pagination{
					margin-top: 10px;
				}
			}
		}

		.number-avaliable-cars {
			position: relative;
			padding: 10px 40px;

			p {
				margin: 0;
				font-size: 16px;
				color: white;
				font-weight: bold;
				text-transform: uppercase;

				@include media-breakpoint-down(sm) {
					font-size: 12px;
					display: inline;
				}
			}

			@include media-breakpoint-down(sm) {
				padding: 10px 0px;
				padding-left: 20px;
			}

			&::before{
				position:absolute;
				content: "";
				background-color: $primary;
				transform: skew(-27deg);
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				z-index: -1;

				@include media-breakpoint-down(sm){
					width: 93%;
					left: 11px;
				}
			}
		}
	}

	.filter-results {
		padding: 0;
		margin: 0;
		list-style: none;
		@include make-row();
		justify-content: center;

		li {
			@include make-col-ready();
			margin-bottom: 30px;
			margin-right: 20px;

			@include media-breakpoint-down(xl) {
				@include make-col(3);
			}

			@include media-breakpoint-down(md) {
				@include make-col(4);
			}

			@include media-breakpoint-down(sm) {
				@include make-col(8);
				margin-right:0px;
			}

			@include media-breakpoint-down(xs) {
				@include make-col(12);
			}

			a {
				display: block;

				img {
					width: 100%;
					height: 195px !important;
					object-fit: cover;
				}

				.car-information {
					padding: 0 5px;
					margin: 0;
					list-style: none;

					li {
						padding: 0;
						margin-bottom: 5px;
						margin-right: 0px;
						width: 100%;
						max-width: 100%;
						display: block;
						color: black;
						font-weight: bold;
						font-size: 14px;

						span {
							float: right;
							text-transform: uppercase;
							color: #82c625;
							font-weight: 400;
						}
					}
				}

				.more-details {
					position: relative;
					padding: 5px 20px;
					text-transform: capitalize;
					font-weight: 500;
					z-index: 3;
					margin: 0 auto;
					width: 80%;
					display: flex;
					justify-content: center;
					align-items: center;
					color: white;
					transition-duration: 0.3s;
		
					&::before {
						position: absolute;
						content: "";
						width: 100%;
						height: 100%;
						background-color: $primary;
						top: 0;
						left: 0px;
						z-index: -1;
						transform: skew(-27deg);
						transition-duration: 0.2;
					}

					&:hover {
						&::before {
							background-color: #ebc52b;
						}
					}
				}
			}
		}
	}

	.pagination {
		margin: 0;
		width: 100%;

		li {
			padding: 10px 15px;
			position: relative;
			margin-right: 5px;
		
			&::before{
				position: absolute;
				content:"";
				height: 100%;
				width: 100%;
				transform: skew(-27deg);
				background-color: #82c625;
				border-left: red;
				top: 0;
				left: 0;
				z-index: -1;
			}
			a{
				color: white;
			}
		}

		.prev,.next {
			&::before {
				position: absolute;
				content:"";
				height: 100%;
				width: 100%;
				transform: skew(-27deg);
				background-color: #000000;
				border-left: red;
				top: 0;
				left: 0;
				z-index: -1;
			}
		}

		@include media-breakpoint-down(sm) {
			justify-content: center;
		}
	}

	.show-more-btn {
		padding: 10px 20px;
		background-color: $primary;
		color: white;
		text-transform: uppercase;
		transition-duration: 0.3;

		&:hover{
			background-color: #ebc52b;
		}
	}

	.filterResults {
		ul {
			padding: 0;
			margin: 0;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			li {
				margin-bottom: 30px;
				margin-right: 20px;
				width: 23%;

				@include media-breakpoint-down(md) {
					width: 30%;
				}

				@include media-breakpoint-down(sm) {
					width: 100%;
					margin-right: 0;
				}
				.card {
					border-radius: 0;
					height: 100%;
					border: none;
					display: flex;
					justify-content: center;
					align-items: center !important;
					.card-body {
						padding: 3px 0;
						display: flex;
						flex-direction: column;
						justify-content: center;
						width: 90%;
					}
					img {
						width: 90%;
						height: 194px !important;
						border-radius: 0;
						object-fit: cover;
						display: flex;
						justify-content: center;

						@include media-breakpoint-down(lg) {
							width: 100%;
						}
					}

					ul {
						display: flex;
						flex-direction: column;
						li {
							width: 100%;
							margin: 0;
							color: black;
							font-weight: bold;
							font-size: 14px;

							span {
								text-transform: uppercase;
								color: #82c625;
								font-weight: 400;
							}
						}
					}
					
				}
			}
		}

		.moreCars {
			position: relative;
			padding: 5px 20px;
			text-transform: capitalize;
			font-weight: 500;
			z-index: 3;
			margin: 0 auto;
			width: 80%;
			display: flex;
			justify-content: center;
			align-items: center;
			color: white;
			background-color: transparent;

			&::before {
				position: absolute;
				content: "";
				width: 100%;
				height: 100%;
				background-color: $primary;
				top: 0;
				left: 0px;
				z-index: -1;
				transform: skew(-27deg);

			}

			&:hover {
				color: black;

				&::before {
					background-color: #ebc52b;
				}
			}
		}
		
	}

	.information-about-us {
		background-image: url("../img/sectionAboutUs.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		height: 80vh;
		display: flex;
		justify-content: center;
		align-items: center;

		a {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			min-height: 230px;
			text-decoration: none;
			background-color: rgba(252, 235, 1, 0.735);
			padding: 30px;

			@include media-breakpoint-down(md) {
				margin-bottom: 20px;
			}

			@include media-breakpoint-down(sm) {
				flex-direction: column;
			}

			i {
				font-size: 70px;
				color: black;

				@include media-breakpoint-down(sm) {
					font-size: 40px;
				}
			}

			.caption {
				text-align: right;
				padding: 10px;

				@include media-breakpoint-down(md) {
					padding: 15px;
				}

				@include media-breakpoint-down(sm) {
					padding: 0;
					text-align: center;
				}

				h3 {
					font-weight: bold;
					color: white;
					font-size: 25px;
					margin: 0;
					padding-bottom: 10px;

					@include media-breakpoint-down(sm) {
						padding-top: 10px;
						font-size: 20px;
					}
				}

				p {
					margin: 0;
					color: black;
					font-size: 18px;
				}
			}
		}

		.red {
			background-color: rgba(252, 1, 1, 0.859);
		}

		@include media-breakpoint-down(sm) {
			padding-top: 20px;
			height: 100%;
		}
	}

	.choose-us {
		h3 {
			text-align: center;
			text-transform: uppercase;
			font-size: 30px;
			font-weight: bold;
			color: grey;
			padding-top: 50px;
			margin: 0;
		}
		.row {
			padding-top: 30px;
			height: 40vh;
			align-items: center;

			@include media-breakpoint-down(md) {
				height: 100%;
			}
		}

		.chooseCard {
			display: flex;
			align-items: flex-start;
			min-height: 200px;

			@include media-breakpoint-down(md) {
				flex-direction: column;
				align-items: center;
			}

			i {
				// color: rgb(227, 122, 85);
				color: #a96733;
				font-size: 70px;

				@include media-breakpoint-down(md) {
					font-size: 50px;
					margin-bottom: 10px;
				}
			}

			.choose-text {
				padding-left: 30px;
				padding-right: 15px;

				@include media-breakpoint-down(md) {
					padding-left: 0px;
					padding-right: 0;
				}

				h4 {
					color: black;
					font-weight: bold;
					font-size: 20px;
					text-transform: uppercase;

					@include media-breakpoint-down(md) {
						font-size: 14px;
					}

					@include media-breakpoint-down(sm) {
						text-align: center;
					}
				}

				p {
					font-size: 15px;
					color: grey;
					margin: 0;

					@include media-breakpoint-down(md) {
						font-size: 14px;
					}

					@include media-breakpoint-down(sm) {
						text-align: center;
					}
				}
			}
		}
		.show-moreBtn{
			padding: 10px 20px;
			&:hover{
				color: black;
				background-color: #ebc52b;
			}
		}
	}

	//about us

	.about-us-image {
		position: relative;

		img {
			position: relative;
			top: -127px;
			width: 590px;
			left: -50px;

			@include media-breakpoint-down(lg) {
				width: 473px;
				left: 0;
			}

			@include media-breakpoint-down(md) {
				top: 0;
				margin: 0 auto;
				display: flex;
			}

			@include media-breakpoint-down(sm) {
				width: 290px;
			}
		}
	}

	.table {
		margin-top: 40px;

		tbody {

			th,
			td {
				width: 20px;
				border: none;
				padding-left: 0;

				span {
					color: $primary;
					font-weight: bold;
				}

				a {
					text-decoration: none;
					cursor: pointer;
					color: #000000;

					&:hover {
						color: $primary;
					}
				}
			}
		}
	}

	.info-company {
		p {
			font-size: 16px;
			color: #535d5b;
			padding-right: 20px;

			@include media-breakpoint-down(sm) {
				text-align: center;
				padding-right: 0;
			}
		}
	}

	.data-info-company {
		margin-top: -113px;
		margin-bottom: 50px;

		@include media-breakpoint-down(lg) {
			margin-top: 30px;
		}

		@include media-breakpoint-down(sm) {
			margin-top: 20px;
		}

		h3 {
			position: relative;
			text-transform: uppercase;
			margin: 0;
			font-weight: bold;
			color: white;
			display: flex;
			align-items: center;

			@include media-breakpoint-down(sm) {
				font-size: 18px;
			}

			&::after {
				position: absolute;
				content: "";
				width: 1090px;
				height: 88px;
				left: -450px;
				background-color: #82c625;
				z-index: -1;
				top: -16px;
				clip-path: polygon(0 0, 91% 0, 100% 100%, 0% 100%);

				@include media-breakpoint-down(sm) {
					width: 725px;
					height: 68px;
					left: -450px;
					top: -13px;
				}
			}
		}

		p {
			small {
				font-weight: bold;
			}
		}
	}

	//STOCK_LIST
	.img-stocklist {
		background-position: center -82px !important;
	}

	.stocklist-section {
		margin-bottom: 70px;
		
		.filterResults {
			ul {
				padding: 0;
				margin: 0;
				list-style: none;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
	
				li {
					margin-bottom: 30px;
					margin-right: 20px;
					width: 23%;
	
					@include media-breakpoint-down(md) {
						width: 30%;
					}
	
					@include media-breakpoint-down(sm) {
						width: 100%;
						margin-right: 0;
					}
	
					a {
						text-decoration: none;
					}
	
					.card {
	
						border-radius: 0;
						height: 100%;
						border: none;
						display: flex;
						justify-content: center;
						align-items: center !important;
	
						.card-body {
							padding-top: 3px;
							padding-left: 0px;
							padding-right: 3px;
						}
	
						img {
							width: 90%;
							height: 194px !important;
							border-radius: 0;
							object-fit: cover;
							display: flex;
							justify-content: center;
	
							@include media-breakpoint-down(lg) {
								width: 100%;
							}
						}
	
						ul {
							flex-direction: column;
	
							li {
								width: 100%;
								margin: 0;
								color: black;
								font-weight: bold;
								font-size: 14px;
	
								span {
									text-transform: uppercase;
									color: #82c625;
									font-weight: 400;
								}
							}
						}
					}
				}
			}
	
			.moreCars {
				position: relative;
				padding: 5px 20px;
				text-transform: capitalize;
				font-weight: 500;
				z-index: 3;
				margin: 0 auto;
				width: 80%;
				display: flex;
				justify-content: center;
				align-items: center;
				color: white;
				background-color: transparent;
				&::before{
					position: absolute;
					content: "";
					width: 100%;
					height: 100%;
					background-color: $primary;
					top: 0;
					left: 0px;
					z-index: -1;
					transform: skew(-27deg);
	
				}
				&:hover{
					color: black;
					&::before{
						background-color: #ebc52b;
					}
				}
			}
		}
	}

	.logos-cars {
		width: 100%;

		ul {
			display: flex;
			flex-wrap: wrap;
			padding: 0;
			margin: 0;
			width: 100%;
			list-style: none;

			@include media-breakpoint-down(md) {
				justify-content: center;
			}

			li {

				img {
					max-width: 600px !important;
					height: 70px !important;
					border: 1px solid black;
				}
			}
		}
	}

	//BANK INFO
	.dataBankInfo {
		margin-top: 57px;

		h3 {
			position: relative;
			text-transform: uppercase;
			margin: 0;
			font-weight: bold;
			color: white;
			display: inline;
			font-size: 20px;
			padding: 15px;
			@include media-breakpoint-down(sm) {
				font-size: 18px;
			}

			&::after {
				position: absolute;
				content: "";
				width: 950px;
				height: 100%;
				left: -450px;
				background-color: #82c625;
				z-index: -1;
				top: 0px;
				transform: skew(35deg);
				@include media-breakpoint-down(sm) {
					width: 755px;
					left: -450px;
				}
			}
		}

		h2 {
			background-color: $primary;
			color: white;
			font-size: 20px;
			padding: 15px;

			@include media-breakpoint-down(md) {
				font-size: 16px;
			}

			&:hover {
				background-color: #a96733;
			}
		}

		.table {
			margin-top: 40px;

			tbody {
				td {
					color: #a96733;
					font-weight: bold;
					font-size: 14px;

				}

				th,
				td {
					width: 20px;
					border: none;
					padding-left: 0;

					span {
						color: $primary;
						font-weight: bold;
					}

					a {
						text-decoration: none;
						cursor: pointer;
						color: #000000;

						&:hover {
							color: $primary;
						}
					}
				}
			}
		}
	}

	#number {
		font-size: 70px;
		margin: 0;
		background-color: $primary;
		padding: 30px;
		text-align: center;
		color: white;
		font-weight: bold;

		@include media-breakpoint-down(md) {
			font-size: 50px;
		}
	}

	.regarding {

		h4,
		p {
			@include media-breakpoint-down(sm) {
				text-align: center;
			}
		}

		h4 {
			color: #a96733;
			font-size: 18px;

			@include media-breakpoint-down(sm) {
				padding-top: 20px;
				padding-bottom: 10px;
			}
		}

		p {
			color: #535d5b;
			font-size: 14px;
		}
	}

	//REGISTRATION
	.create-form {
		.form-group {
			label {
				text-transform: uppercase;
				color: black;
				font-size: 14px;
			}

			input[type=text],
			textarea,
			input[type=password] {
				border-radius: 0;
				background-color: transparent !important;
				border: 1px solid #82c625;

				&:focus {
					font-size: 15px;
					color: #535d5b;
					font-weight: bold;
					border: 1px solid #82c625;
				}

				&::placeholder {
					color: #535d5b !important;
				}
			}
		}
	}

	.listInfoCreateUser {
		color: #535d5b;

		@include media-breakpoint-down(sm) {
			text-align: center;
		}

		a {
			color: $primary;
			text-decoration: none;
			cursor: pointer;
			font-weight: bold;
		}

		li {
			a {
				color: $primary;
				text-decoration: none;
				cursor: pointer;
				font-weight: bold;
			}
			@include media-breakpoint-down(sm) {
				text-align:left;
			}

		}

	}

	//CONTACT FORM
	.info {
		a {
			color: $primary;
			text-decoration: none;
			cursor: pointer;
		}
	}

	.loginImg {
		margin-top: 100px;
	}

	//WHY CHOOSE US
	.whyImgWelcome {
		background-position: center;
	}

	.whyInfo {
		h3 {
			text-transform: uppercase;
			font-weight: bold;
			color: black;
			font-size: 20px;
			margin-bottom: 15px;

			@include media-breakpoint-down(sm) {
				font-size: 18px;
				text-align: center;
			}
		}

		p {
			font-size: 18px;

			@include media-breakpoint-down(sm) {
				text-align: center;
				font-size: 14px;
			}
		}

		.img-fluid {
			@include media-breakpoint-down(sm) {
				width: 90% !important;
			}
		}
	}

	.buySteps {
		h3 {
			position: relative;
			padding: 10px;
			font-size: 20px;
			font-weight: bold;
			color: white;

			&::before {
				position: absolute;
				content: "";
				background-color: $primary;
				height: 100%;
				width: 30%;
				z-index: -1;
				left: -220px;
				top: 0;
				transform: skew(-27deg);

				@include media-breakpoint-down(lg) {
					width: 100%;
					left: -805px;
				}

				@include media-breakpoint-down(md) {
					left: -565px;
				}

				@include media-breakpoint-down(sm) {
					left: -100px;
				}
			}
		}
	}

	//FAQS
	.faqs {
		h3 {
			font-size: 23px;
			font-weight: bold;
			color: $primary;

			@include media-breakpoint-down(sm) {
				font-size: 18px;
				text-align: center;
			}
		}

		a {
			color: $primary;

			&:hover {
				color: #a96733;
				font-weight: bold;
			}
		}

		p {
			@include media-breakpoint-down(sm) {
				text-align: center;
				font-size: 14px;
			}
		}
	}

	//CAR DETAILS
	.galleryCar {
		.flickity-button,.flickity-page-dots {
			display: none;
		}
		.carousel{
			background: transparent;
			margin-bottom: 10px;
		}
		.carousel-cell {
			width: 100%;
			height: 320px;
			margin-right: 10px;
			border: 2px solid #ED2;
			counter-increment: carousel-cell;
			padding: 5px;
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.carousel-nav .carousel-cell {
			height: 80px;
			width: 100px;
		}
		.carousel-nav .carousel-cell.is-nav-selected {
			background: #ED2;
		}
		  
	}

	.fastNavDetail {
		.breadcrumb{
			background-color: transparent;
			padding-left: 0;
		}
		a{
			padding: 0.75rem;
			padding-left: 0;
			padding-right: 0;
			color: $primary;
			font-weight: bold;
			&:hover{
				color:#a96733;
			}
		}
	}

	.dataCar {
		.specifCar{
			column-count: 2;
			padding: 0;
			margin: 0;
			list-style: none;
			li{
				margin-bottom: 10px;
				font-size: 16px;
				color: black;
				font-weight: bold;
				span{
					color:$primary;
					font-weight: 400;
					button{
						background:red;
						color: white;
						font-weight: bold;
						border: none;
						padding: 5px 25px;
						border-radius: 10px;
						font-size: 16px;
						text-transform: uppercase;
						cursor: pointer;
						&:hover{
							background-color: #ebc52b;
							color: black;
						}
					}
				}
			}
			@include media-breakpoint-down(sm){
				column-count: 1;
			}
		}
	}

	.security {
		p{
			margin-bottom: 0;
		}
		form{
			label{
				color: black;
				font-size: 14px;
				font-weight: 300;
			}
			.form-group{
				margin-bottom: 0;
			}
			input[type=text],
			textarea,
			input[type=password] {
				border-radius: 0;
				background-color: transparent !important;
				border: 1px solid #82c625;

				&:focus {
					font-size: 15px;
					color: #535d5b;
					font-weight: bold;
					border: 1px solid #82c625;
				}

				&::placeholder {
					color: #535d5b !important;
				}
			}
			button{
				padding: 10px 25px;
				border-radius: 50px;
				color:black;
				font-weight: bold;
				background-color: #ebc52b;
				width: auto;
				height: auto;
				font-size: 13px;
				border: none;
				text-transform: none;
				&:hover{
					background-color: $primary;
					color: white;
				}
			}
		}
	}
	.additionalOptions{
		h2{
			background-color: #535d5b;
			padding: 10px;
			width: 100%;
			color: white;
			font-size: 16px;
		}
		ul{
			list-style: none;
			li{
				margin-right: 5px;
			}
		}
		span{
			border-radius: 5px;
			padding: 5px;
			.fas{
				font-size: 14px;
				color: white;
			}
			.fab{
				font-size: 14px;
				color: white;
			}
		}
		.twitter{
			background-color: rgb(85, 172, 238);
		}
		.fb{
			background-color: rgb(59, 89, 152);
			padding: 5px 10px;
		}
		.pint{
			background-color: rgb(189, 8, 28);
			padding: 5px 8px;
		}
		.google{
			background-color: rgb(202, 224, 255);
		}
		.gmail,.more{
			background-color: rgb(1, 102, 255);
		}
		.gmail{
			padding: 5px 7px;
		}
		.more{
			padding: 5px 8px;
		}
		.flex-column-sm{
			@include media-breakpoint-down(sm) {
				flex-direction: column;
			}
		}
	}

	// BUSSINESS INFO VIEWS

	//auction
	.auction {
		.img-one{	
			img{
				top: -110px;
				@include media-breakpoint-down(lg){
					top: -90px;
				}
			}
		}
		.map{
			margin-top: 90px;
			@include media-breakpoint-down(sm){
				margin-top: 60px;
			}
		}
	}

	//container
	.dimensions {
		margin-top: 20px;
	}

	//sun protection
	.sunImg {
		margin-top: 20px;
		img{
			// width: 100%;
			// height: 100%; 
			width: 450px;
			height: 100%;
			@include media-breakpoint-down(md){
				width: 300px;
			}
		}
		@include media-breakpoint-down(sm){
			display: flex;
			justify-content: center;
		}
	}

	//mark
	.markImgGallery {
		margin-top: 120px;
		@include media-breakpoint-down(sm){
			margin-top: 60px;
		}
	}

	.markImg,.equiImg {
		img{
			// width: 100%;
			// height: 100%;
			width: 200px;
			height: 200px;
		}
	}

	.markImg{
		margin-top: 10px;
	}

	//understand sheet
	.sheetImg{
		margin-top: 30px;
	}

	//equiments
	.equimentImgGallery{
		margin-top: 260px;
		@include media-breakpoint-down(md){
			margin-top: 100px;
		}
		@include media-breakpoint-down(sm){
			margin-top: 60px;
		}
	}

	.equiImg{
		display: flex;
		@include media-breakpoint-down(sm){
			justify-content: center;
		}
	}

	.equiImg{
		margin-top: 20px;
	}

	//paking
	.paking{
		p{
			margin: 0;
		}
		h3{
			font-size: 20px;
		}
	}
	
	.pakingImgGallery{
		img{
			margin-top: 30px;
		}
	}
}

footer {
	margin-top: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: black;

	form {
		input[type=text] {
			border-radius: 0;
			background-color: transparent !important;
			border-bottom: 1px solid $primary;
			border: 1px solid #82c625;
			border-top: none;
			border-left: none;
			border-right: none;
	
			&:focus {
				font-size: 15px;
				color: white;
				font-weight: bold;
				border: 1px solid #82c625;
			}
	
			&::placeholder {
				color: white !important;
			}
		}
	
		.send {
			width: 120px;
			height: 40px;
			padding: 0;
	
			@include media-breakpoint-down(md) {
				margin-bottom: 30px;
			}
		}
	}

	.logo {
		width: 190px;
		height: 60px;

		@include media-breakpoint-down(sm) {
			justify-content: center;
			display: flex;
			margin: 0 auto;
		}
	}

	h3,
	h5 {
		text-transform: uppercase;
		color: white;
		font-weight: bold;
		font-size: 16px;

		@include media-breakpoint-down(lg) {
			font-size: 14px;
		}

		@include media-breakpoint-down(sm) {
			padding-top: 25px;
			text-align: center;
		}
	}

	.blogsLinks {
		padding-right: 20px;

		@include media-breakpoint-down(lg) {
			padding-right: 0;
		}

		@include media-breakpoint-down(md) {
			text-align: center;
			padding-bottom: 30px;
		}

		a:hover {
			color: $primary;
			font-weight: bold;
		}
	}

	.social-media-icons {
		@include media-breakpoint-down(sm) {
			justify-content: center;
		}
	}

	a {
		text-decoration: none;
		cursor: pointer;
		display: block;

		&:hover {
			color: $primary;
		}

		@include media-breakpoint-down(sm) {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}

	p {
		padding-top: 10px;
		padding-right: 20px;
	}

	a,
	p {
		color: white;
		margin: 0;
		font-size: 14px;

		@include media-breakpoint-down(lg) {
			font-size: 13px;
		}

		@include media-breakpoint-down(sm) {
			text-align: center;
		}
	}

	.photoGallery {
		display: flex;
		flex-wrap: wrap;

		@include media-breakpoint-down(sm) {
			justify-content: center;
		}

		img {
			width: 50px;
			height: 50px;
			margin-bottom: 10px;
			object-fit: cover;
			margin-right: 10px;
		}

		/* The Modal (background) */
		.modal {
			display: none;
			position: fixed;
			z-index: 9999;
			padding-top: 100px;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			overflow: auto;
			background-color: black;

			.modal-content {
				position: relative;
				margin: auto;
				padding: 0;
				width: 80%;
				display: flex;
				justify-content: center;
				background-color: black;
			}

			.close {
				color: white;
				position: absolute;
				top: 10px;
				right: 25px;
				font-size: 35px;
				font-weight: bold;
			}

			.close:hover,
			.close:focus {
				color: white;
				text-decoration: none;
				cursor: pointer;
			}

			.prev,
			.next {
				cursor: pointer;
				position: absolute;
				top: 50%;
				width: auto;
				padding: 16px;
				margin-top: -50px;
				color: white;
				font-weight: bold;
				font-size: 20px;
				transition: 0.6s ease;
				border-radius: 0 3px 3px 0;
				user-select: none;
				-webkit-user-select: none;
			}

			.next {
				right: 0;
				border-radius: 3px 0 0 3px;
			}

			.prev:hover,
			.next:hover {
				background-color: rgba(0, 0, 0, 0.8);
			}

			.numbertext {
				color: #f2f2f2;
				font-size: 12px;
				padding: 8px 12px;
				position: absolute;
				top: 0;
			}

			img {
				width: 90%;
				height: 600px;
				margin: 0 auto;
				justify-content: center;
				display: flex;

				@include media-breakpoint-down(sm) {
					width: 100%;
					height: 320px;
				}
			}
		}

		.demo {
			opacity: 0.6;
		}

		.active,
		.demo:hover {
			opacity: 1;
		}

		img.hover-shadow {
			transition: 0.3s;
		}

		.hover-shadow:hover {
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}
	}

	.footer-third-row {
		p,ul{
			margin: 0;
			padding: 0;
		}
		p{
			font-size: 11px;
			color: #535d5b !important;
		}
		ul{
			display: flex;
			list-style: none;
			li{
				padding-right: 10px;
				a{
					color: #535d5b;
					&:hover {
						color: $primary;
					}
				}
			}
		}
	}
}